* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

html[data-theme='light']{
    --bg: #fff;
    --main: #000;
    --secondary: #e2e2e2;
    --secondary-inverted: #414141;
}

html[data-theme='dark'] {
    --bg: #353535;
    --main: #fff;
    --secondary: #414141;
    --secondary-inverted: #e2e2e2;
}

body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--main);
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 650px;
    height: 100vh;
}

.app {
    text-align: center;
}

h1 {
    font-size: 2.6rem;
    margin-top: 30px;
    text-align: center;
}

p {
    color: var(--secondary-inverted);
    font-size: 1.3rem;
}

.flex {
    margin: 0 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
    align-items: center;
}

.btn {
    cursor: pointer;
    width: 150px;
    font-size: 1.2rem;
    padding: .5em 1em;
    color: var(--main);
    background-color: var(--secondary);
    border: none;
    border-radius: 100px;
}

.btn:hover {
    opacity: .6;
}

#pause {
    display: none;
}

#stop-audio {
    display: none;
    margin: 0 auto;
    margin-top: 1em;
}

#status {
    margin: 2em 0;
}

@media (max-width: 800px) {
    .btn {
        margin-top: 1em;
    }

    .flex {
        flex-direction: column;
        margin-top: 0;
    }
}

/* toggle dark them */
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--secondary);
    float: right;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: var(--bg);
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + label {
    background: var(--secondary);
}

input:checked + label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

/* timer */
#timer {
    text-align: center;
    display: block;
    align-items: center;
}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: #66ffb3;
}

.base-timer__path-remaining.orange {
    color: #ffcc00;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 400;
}
